# =====================
# AMBIENTE E SISTEMA
# =====================
venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# NOTEBOOKS
# =====================
.ipynb_checkpoints/

# =====================
# EDITORES
# =====================
.vscode/
.idea/

# =====================
# LOGS E TEMP
# =====================
*.log
*.tmp

# =====================
# DADOS
# =====================
# base_dados/
# *.csv
# *.xlsx